// Styling for the portfolio section

#portfolio {
  .portfolio-container{
    width: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    border: 1px solid white;
    padding: 35px;
    box-shadow: 0px 0px 2px 1px #f4623a;
    border-radius: 2.5%;
  }
  .container-fluid {
    .portfolio-box {
      margin-bottom: 20px;
      position: relative;
      display: block;
      overflow: hidden;
      .portfolio-box-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        position: absolute;
        bottom: 0;

        text-align: center;
        opacity: 0;

        color: $white;
        background: fade-out($primary, .1);
        transition: opacity 0.25s ease;
        text-align: center;
        .project-category {
          font-family: $font-family-sans-serif;
          font-size: 0.85rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        .project-name {
          font-size: 1.2rem;
        }
      }
      &:hover {
        .portfolio-box-caption {
          opacity: 1;
        }
      }
    }
  }
}

$colors:(
  external-link-button: #f4623a
);

@each $button, $color in $colors {
  .#{$button} {
    --hover: #{adjust-hue($color, 15deg)};
  }
}
.gallery-button-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  button{
    outline: none;
    background: none;
    width: 75px;
    height: 100%;
    padding: 4px;
    margin: none;
    border-radius: 10%;
    transition: 0.5s;
    border: 1px solid #f4623a;
  }
}

.external-link-button:hover,
.external-link-button:focus{
  box-shadow: inset 0 0 0 2em var(--hover);
}

@media only screen and (max-width:500px){

  .img-fluid{
    width: 250px;
    height: 200px;
  }

  
  .portfolio-box{
    width: 250px;
    height: 200px;
  }

  .portfolio-container{
    width: 90%;
    height: 100%;
  }
}

#portfolio{
  @media only screen and (max-width:500px){
    .gallery-container{
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    .portfolio-container{
      padding: 10px;
      width: 90%;
      height: 100%;
    }
  }
}
